{
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "all",
  "proseWrap": "always",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/common/styles/main.css",
  "tailwindFunctions": ["cx"]
}
