.link {
    background-color: violet;
    align-items: center;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 12px;
    display: flex;

    &:global(.active) {
        background-color: rgb(171, 94, 171);
    }

    &.theme {
        cursor: pointer;
        font-size: 18px;
        background-color: darkblue;
    }
}

[data-theme='dark'] {
    .theme {
        background-color: orangered;
    }
}